#content {
	height:300px;
  width:300px;
}

button {
  height:25px;
  float:left;
  clear:left;
}

video, input {
    display: block;
}

input {
    width: 100%;       
}

.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}
